body {
    background: #f6f6f6;
    text-align: center;

}



.heading {
    font-size: 1rem;
}

/* -- Game area layout --*/

.game-background {
    background: url(../images/sverige_map.png) no-repeat center center;

}

.game-area {
    background-color: #efbfc9;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 800px;

}


/* --  Buttons -- */

.start_quiz_btn, .quiz_info_box, .game-area, .score_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px 0 black, 0 7px 20px 0 black;
               

}

.btn {
    width: 300px;
    height: 50px;
    color: black;
    border-radius: 5px;
    border: 5px solid;
    border-color: #e8889d;
    padding: 15px;
    margin: 5px;

}

.btn:hover {
    background-color: #efbfc9;
    color: black;
}

.start_quiz_btn {
    font-size: 25px;
    font-weight: bold;
    color:#e8889d;
    padding: 10px 30px;
    border: none;
    background: #f6f6f6;

}

.x-btn {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
    color: black;
    background-color: #e8889d;
}

/* -- Make the box active and dissapear -- */
.quiz_info_box.activeInfo, .game-area.activeGame, .score_box.activeScroe {
    opacity: 1 ;
    z-index: 5;
    pointer-events: auto; 
    transform: translate(-50%, -50%) scale(1);
}

.quiz_info_box{
    width: 500px;
    background: #f6f6f6;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in;

}

.game-area {
    width: 450px;
    background: #f6f6f6;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: all 0.3s ease-in;
}



.quiz_info_box .quiz_rules_info {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0 ;
    font-size: 20px;
    font-weight: 700;
}

.quiz_rules_info p {
    padding: 50px;
}

.quiz_rules_info span {
    font-weight: 900;
    color: #e8889d;
}

.start_btn_quiz {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid black;
}

.game-area h2 {
    position: relative;
    z-index: 2;
    padding: 0 30px;
    height: 70px;
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px black;
}

.game-area {
    display: none;
}


/* --  Progress bar -- */

.progressBar {
    width: 100%;
    background-color: grey;
}
  
.statusBar {
    width: 10%;
    height: 30px;
    background-color: #e8889d;
}

.score_area {
    user-select: none;
}

.score_box {
    background: #f6f6f6;
    display: flex;
    padding: 25px 30px;
    opacity: 0;
    align-items: center;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease-in;
}

/* -- Result wiev -- */

.text_completed {
    font-size: 2rem;

}

.result_text{
    font-size: 1rem;
    margin: 10px;
}


/* -- For media queries -- */

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .game-area {
        height: 70vh;
    }

    .heading {
        line-height: 0px;
    }

}

@media (max-width: 380px) {
    body {
        padding: 10px;
    }
    .game-area {
        height: 75vh;
    }

    .heading {
        line-height: 0px;
    }
}