body {
    background: #f6f6f6;
    text-align: center;

}

.heading {
    line-height: 50px;
}

/* -- Game area layout --*/

.game-background {
    background: url(../images/sverige_map.png) no-repeat center center;

}

.game-area {
    background-color: #efbfc9;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 800px;

}

/* --  Buttons -- */

.btn {
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 5px;
    border: 5px solid;
    border-color: #e8889d;
    padding: 15px;
    margin: 5px;

}

.x-btn {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
}

/* --  Progress bar -- */

.progressBar {
    width: 100%;
    background-color: grey;
}
  
.statusBar {
    width: 10%;
    height: 30px;
    background-color: #e8889d;
}

/* -- For media queries -- */

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .game-area {
        height: 70vh;
    }

    .heading {
        line-height: 0px;
    }

}

@media (max-width: 380px) {
    body {
        padding: 10px;
    }
    .game-area {
        height: 75vh;
    }

    .heading {
        line-height: 0px;
    }
}