body {
    background: lightblue;
}


/* For media queries */

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .controls-area {
        width: 100%;
    }

}

@media (max-width: 380px) {
    body {
        padding: 10px;
    }
    .game-area {
        height: 75vh;
    }

}